#container {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
    
  
  h2{
    text-align: center;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    
  }
  
  li {
    margin-bottom: 5px;
  }