body{
    margin: 0px;
}
#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: white;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#background{
    background-image: url("interst.jpg");
    width: auto;
    filter: blur(2px);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
   text-align: center;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    width: 241px;
    margin-top: 6px;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.error {
    color: red;
    display: none;
    margin: 7px 6px 11px 19px;
}

.result {
    font-weight: bold;
}
#inputinterset  {
    display: flex;
    flex-direction: row;
}
#inputtime{
    display: flex;
    flex-direction: row;
}
#inputamount{
    display: flex;
    flex-direction: row;
}
#btn_calculate{
    width: auto;
}
#result {
    display: flex;
    align-content: center;
    justify-content: center;
}